# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
out/
*.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local
*.pem

# testing
coverage/

# misc
.DS_Store
*.log
.turbo/
.vercel/
.zcode/
